.results-tile {
    width: 80%;
    margin: 0.5em;
    padding: 0.5em;
    background-color: white;
    color: #07393C;
    display: flex;
    flex-flow: row;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
              0 2px 2px rgba(0,0,0,0.20), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.10),
              0 16px 16px rgba(0,0,0,0.05);
}

.keyword {
    min-height: 100px;
    max-height: 125px;
}

.subresult {
    min-height: 80px;
    width: 78%;
    font-size: 9px;
    border-left: solid 6px #FC9E4F;
    border-right: solid 6px #FC9E4F;
}

.keyword-subresults {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.collapse {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.results-art {
    width: 140px;
    min-width: 140px;
    margin: 2.5px;
    height: auto;
}

.results-tile-content {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    height: auto;
    margin: 0.5em;
    margin-left: 0.75em;
    flex-grow: 1;
    min-height: 100px;
}

.results-heading {
    font-weight: 700;
    font-size: 1.05rem;
    margin-bottom: 1px;
    margin-top: 7.5px;
    color: #FC9E4F;
}

.results-artist {
    font-size: 13px;
    font-weight: 700;
}

.results-album {
    font-size: 11px;
    font-style: italic;
}

.play-uri-btn {
    color: white;
    font-size: 0.8rem;
    font-weight: 450;
    text-decoration: none;
    background-color: #07393C;
    border: 3px solid #07393C;
    border-radius: 5px;
    padding-left: 1.5em;
    margin-right: 10px;
    padding-right: 1.5em;
    text-align: center;
    align-self: center;
    height: 35%;
    min-height: 40px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
              0 2px 2px rgba(0,0,0,0.20), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.10),
              0 16px 16px rgba(0,0,0,0.05);
}

.play-uri-btn:hover {
    cursor: pointer;
    background-color: #FC9E4F;
    color: #07393C;
    border: 3px solid #FC9E4F;
    transition: all 0.1s linear;
    box-shadow: 0 1.5px 1.5px rgba(0,0,0,0.25), 
              0 3px 3px rgba(0,0,0,0.20), 
              0 5px 5px rgba(0,0,0,0.15), 
              0 9px 9px rgba(0,0,0,0.10),
              0 18px 18px rgba(0,0,0,0.05);
}


.playlist-btn {
    color: #07393C;
    font-size: 0.8rem;
    font-weight: 450;
    text-decoration: none;
    background-color: white;
    border: 3px solid #07393C;
    border-radius: 5px;
    padding-left: 1.5em;
    margin-right: 10px;
    padding-right: 1.5em;
    text-align: center;
    align-self: center;
    height: 35%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
              0 2px 2px rgba(0,0,0,0.20), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.10),
              0 16px 16px rgba(0,0,0,0.05);
    transition: all 0.1s linear;

}

.playlist-btn:hover {
    cursor: pointer;
    background-color: #07393C;
    color: #FC9E4F;
    border: 3px solid #07393C;
    box-shadow: 0 1.5px 1.5px rgba(0,0,0,0.25), 
              0 3px 3px rgba(0,0,0,0.20), 
              0 5px 5px rgba(0,0,0,0.15), 
              0 9px 9px rgba(0,0,0,0.10),
              0 18px 18px rgba(0,0,0,0.05);
}

.chevron-svg {
    width: 36px;
}