.results-tile {
    min-width: 200px;
    margin: 1em;
    margin-top: 0.65em;
    padding: 0.5em;
    background-color: #07393C;
    border: 2px solid #FC9E4F;
    color: #FC9E4F;
    flex: 1;
}

.results-heading {
    font-weight: 700;
}

.play-uri-btn {
    color: #0A090C;
    text-decoration: none;
    background-color: white;
    border: 3px solid #FC9E4F;
    padding: 5px;
    display: block;
    text-align: center;
}