@use '../../Core/colour.scss';
@use '../../Core/breakpoints.scss';


.results-tile {
    @include breakpoint(desktop) {
        width: 82.5%;
        flex-flow: row;
    }

    max-width: 1100px;
    width: 85%;
    margin: 0.5em;
    padding: 0.5em;
    background-color: white;
    color: $colour-1;
    display: flex;
    flex: 1;
    flex-flow: column;
    height: auto;
    border-radius: 4.5px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25), 
              0 3px 3px rgba(0,0,0,0.20), 
              0 5px 5px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.10),
              0 16px 16px rgba(0,0,0,0.05);


            &.subresult {

                @include breakpoint(tablet) {
                    min-height: 80px;
                    width: 82.5%;
                }
                flex: auto;
                font-size: 9px;
                border-left: solid 6px $colour-2;
                border-right: solid 6px $colour-2;
            }

}

.keyword {
    min-height: 100px;
    max-height: 125px;
    @include breakpoint(tablet) {
        flex-flow: column;
    }
}
    
.keyword-subresults {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.collapse {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.75s linear;
}

.results-art {
    width: 100%;
    height: auto;
    margin: 1%;
    align-self: center;
    flex: 1;


    @include breakpoint(desktop) {
        width: 175px;
        align-self: center;
        flex: 1 0 0;
    }

    @include breakpoint(desktop) {
        &.playlist-art {
            width: 225px;
            flex: unset;
        }
    }

}

.results-tile-content {

    @include breakpoint(desktop) {
        align-self: unset;
        justify-content: space-evenly;
        margin-left: 1em;
        margin-bottom: 1%;
        flex: 1;
    }

    @include breakpoint(tablet) {
        flex: 1;
        height: 100%;
    }

    display: flex;
    flex-flow: column;
    height: auto;
    align-self: flex-start;
    margin: 2.5%;
    min-height: 60px;
}

.results-heading {

    @include breakpoint(desktop) {
        align-self: unset;
        justify-content: space-evenly;
        margin-bottom: 5px;
    }

    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 4px;
    margin-bottom: 0;
    color: $colour-2;
}

.results-artist {

    @include breakpoint(desktop) {
        margin: unset;
    }

    font-size: 15px;
    margin-top: 5px;
    font-weight: 800;
}

.results-album {
    font-size: 12px;
    font-style: italic;
    color: $colour-2
}

.btn-container {
    @include breakpoint(desktop) {
        align-self: center;
        min-height: 100px;
    }

    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    margin: 2%;
}

.play-uri-btn {

    @include breakpoint(desktop) {
        margin: unset;
        max-width: 275px;
    }

    @include breakpoint(tablet) {
        width: 100%;
        max-height: 60px;
        align-self: center;
    }


    color: white;
    font-size: 0.8rem;
    font-weight: 800;
    text-decoration: none;
    background-color: $colour-2;
    border: 3px solid $colour-2;
    border-radius: 5px;
    padding-left: 1.5em;
    margin: 1.5%;
    padding-right: 1.5em;
    text-align: center;
    min-height: 42px;
    min-width: 75px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
              0 2px 2px rgba(0,0,0,0.20), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.10),
              0 16px 16px rgba(0,0,0,0.05);
}

.play-uri-btn:hover {
    cursor: pointer;
    background-color: $colour-2;
    color: $colour-1;
    transition: all 0.1s linear;
    box-shadow: 0 1.5px 1.5px rgba(0,0,0,0.25), 
              0 3px 3px rgba(0,0,0,0.20), 
              0 5px 5px rgba(0,0,0,0.15), 
              0 9px 9px rgba(0,0,0,0.10),
              0 18px 18px rgba(0,0,0,0.05);
}


.playlist-btn {

    @include breakpoint(desktop) {
        align-self: center;
    }

    @include breakpoint(tablet) {
        width: 100%;
        max-height: 60px;
        align-self: center;
    }

    color: $colour-2;
    font-size: 0.8rem;
    font-weight: 450;
    text-decoration: none;
    background-color: white;
    border: 3px solid $colour-2;
    border-radius: 5px;
    padding-left: 1.25em;
    margin-right: 5px;
    padding-right: 1.25em;
    text-align: center;
    margin: 1.5%;
    min-height: 42px;
    min-width: 75px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
              0 2px 2px rgba(0,0,0,0.20), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.10),
              0 16px 16px rgba(0,0,0,0.05);
    transition: all 0.1s linear;
    display: flex;
    justify-content: center;
    align-items: center;

}

.playlist-btn:hover {
    cursor: pointer;
    color: $colour-1;
    border: 3px solid $colour-2;
    box-shadow: 0 1.5px 1.5px rgba(0,0,0,0.25), 
              0 3px 3px rgba(0,0,0,0.20), 
              0 5px 5px rgba(0,0,0,0.15), 
              0 9px 9px rgba(0,0,0,0.10),
              0 18px 18px rgba(0,0,0,0.05);
}

.chevron-svg {
    width: 30px;
}

.playlist-icon {
    width: 18px;
    display: flex;
    padding: 0;
}