
.home-frame {
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-flow: column;
    justify-content: center;

    & .home-title {
        align-self: flex-start;
        margin-left: 160px;
        font-weight: 900;
    }
    
}

h3 {
    margin-top: 0;
    margin-left: 170px;
    align-self: flex-start;
    font-weight: 700;
}


.panel-wrapper {
    width: 100%;
    display:flex;
    justify-content: center;
}

.left-panel {
    width: 45%;
}

.right-panel {
    width: 45%;
}