
.home-frame {
    @include breakpoint(mobile-ls) {
        min-width: 300px;
        width: 72.5vw;
    }

    width: 70vw;
    min-width: 300px;
    display: flex;
    flex-flow: column;
    justify-content: center;

    & .home-title {
        align-self: flex-start;
        font-size: 36px;
        font-weight: 900;
    }

    & .home-subtitle {
        min-height: 50px;

        @include breakpoint(tablet) {
           margin-bottom: 0;
        }

        @include breakpoint(laptop) {
            margin-bottom: 0;
         }

         @include breakpoint(desktop) {
            margin-bottom: 0;
         }
    
    }
    
}

h3 {

    margin-top: 0;
    align-self: flex-start;
    font-weight: 700;
}


.panel-wrapper {
    width: 100%;
    display:flex;
}

.panel {
    width: 50%;
}