
.home-frame {
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

h2 {
    margin-top: 0;
    align-self: center;
}

.panel-wrapper {
    width: 100%;
    display:flex;
    justify-content: center;
}

.left-panel {
    width: 45%;
}

.right-panel {
    width: 45%;
}