.playlist-title {
    font-size: 58px;
    width: 100%;
    font-weight: 900;
    margin-top: unset;
    margin-left: 5%;
    color: $colour-1;


    @include breakpoint(desktop) {
        margin-left: unset;
    }

}

.remove-tracks-cta {

    background-color: unset;
    border: none;
    height: 40px;
    align-self: flex-end;

    &:hover {
        cursor: pointer;
        & .remove-icon {
            fill: $colour-1;
            cursor: pointer;
        }
    }

    &:active {
        background-color: $colour-1;
        cursor: pointer;
        & .remove-icon {
            fill: $colour-white;
            cursor: pointer;
        }
    }

}

.remove-icon {
    fill: $colour-white;
    width: 18px;

}

.playlist-controls {

    @include breakpoint(desktop) {
        width: 82.5%;
    }
    display: flex;
    width: 97.5%;
    flex-flow: row;
    justify-content: space-between;
    align-content: center;
}