.nav-bar {
    width:  100%;
    margin-right: 2.5px;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 50px;
    justify-content: flex-end;
}

.nav-bar.content {
    margin: 16px;
    display: inline;
    text-decoration: none;
}

.nav-bar.content a {
    padding: 14px;
    text-decoration: none;
    background-color: #FFFD77;
    color: #619475;
    font-weight: 400;
}

.nav-bar li {
    width: auto;
}

.now-playing {
    margin: 12.5px;
    font-size: 12px;
    z-index: 100;
}