@use '../../Core/colour.scss';

.search-frame {
    display: flex;
    flex-flow: column;
}

.search-component {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 90%;
    margin-top: 1.25em;
}

h1 { 
    color:  $colour-white;
}

.search-bar {
    width: 82%;
    height: 1.5em;
    padding: 12px;

    border-radius: 5px 0 0 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border: 2.5px solid $colour-2;

    outline: none;
    background-color: $colour-1;
    color: $colour-white;
    font-size: 24px;

    box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
              0 2px 2px rgba(0,0,0,0.20), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.10),
              0 16px 16px rgba(0,0,0,0.05);
}
.search-bar-submit {
    color: $colour-1;
    font-size: 1rem;
    font-weight: 450;
    text-decoration: none;
    background-color: $colour-1;
    border: 3px solid $colour-2;
    border-radius: 7.5px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
              0 2px 2px rgba(0,0,0,0.20), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.10),
              0 16px 16px rgba(0,0,0,0.05);
}

.search-bar-submit:hover,
.search-bar-submit:focus {
    background: $colour-1;
    color: white;
    cursor: pointer;

}

.search-results {
    margin-top: 2.5em;
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
}

.search-summary {
    color: white;
    align-self: center;
    text-align: center;
}

.search-term {
    color: $colour-2;
}

.searching {
    display: flex;
    margin-top: 50%;
    min-height: 400px;
}