@use '../../Core/colour.scss';

.search-frame {
    display: flex;
    flex-flow: column;
}

.search-component {
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    flex: 1;
    border-radius: 5px 0 0 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border: 2px solid $colour-2;
    padding: 14px;
    min-width: 330px;
    outline: none;
    background-color: white;
    color: $colour-2;

    width: 100%;
    margin-top: 0.5em;
}

h1 { 
    color:  $colour-2;
}

.search-bar {
    @include breakpoint(desktop) {
        font-size: 22px;
    }

    @include breakpoint(laptop) {
        font-size: 22px;
    }

    @include breakpoint(mobile-ls) {
        margin-top: unset;
        min-width: 280px;
    }

    flex: 1;
    max-width: 90%;
    min-width: 250px;
    height: 2em;
    min-height: 60px;
    align-content: center;
    font-size: 20px;
    outline: none;
    border: none;
}
.search-bar-submit {

    @include breakpoint(desktop) {
        max-width: 100px;
        margin-top: unset;
    }

    @include breakpoint(laptop) {
        max-width: 100px;
        margin-top: unset;
    }

    @include breakpoint(tablet) {
        max-width: 100px;
        margin-top: unset;
    }

    @include breakpoint(mobile-ls) {
        margin-top: unset;
    }

    flex-grow: 1;
    color: $colour-white;
    font-size: 1rem;
    font-weight: 450;
    text-decoration: none;
    background-color: $colour-2;
    border: 2px solid $colour-2;
    border-radius: 2.5px;
    margin-top: 12px;
    padding: 10px;
    width: 75px;
    min-width: 75px;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
              0 2px 2px rgba(0,0,0,0.20), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.10),
              0 16px 16px rgba(0,0,0,0.05);
}

.search-icon {
    align-self: center;
    margin: 6px;
    fill: $colour-2;
}

.search-bar-submit:hover,
.search-bar-submit:focus {
    background: $colour-2;
    color: $colour-1;
    cursor: pointer;

}

.search-results {

    margin-top: 2.5em;
    display: flex;
    flex-flow: column;
    align-items: center;
  
    @include breakpoint(desktop) {
        align-items: unset;

        &.playlist{ 
            width: 70vw;
            max-width: 1300px;
        }

    }
}

.search-summary {
    color: $colour-2;
    align-self: center;
    text-align: center;
    min-height: 40px;
}

.search-term {
    color: $colour-1;
    border-bottom: 1px solid $colour-2;
}

.searching {
    @include breakpoint(tablet) {
        min-height: 400px;
    }

    display: flex;
    flex-flow: column;
    margin-top: 50%;
    min-height: 100px;
}