@use '../../Core/colour.scss';
@use '../../Core/breakpoints.scss';

.login-frame {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-content: center;
    margin-top: 15%;
    text-align: center;
}

.login-title {
    font-weight: 800;
    font-size: 36px;
    color: $colour-2
}

.login-frame-cta {
    margin-top: 10px;
    color: $colour-2;
    text-decoration: none;
    border: 3px solid $colour-2;
    padding: 10px;
    text-align: center;
    width: 100%;
    font-size: 14px;
    font-weight: 800;
}

.login-frame-cta:hover {
    cursor: pointer;
    background-color: $colour-2;
    color: white;
}