.App {
  background-color: #EFC1A9;
  color: #41628B;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row;
  font-family: 'Noto Sans SC', sans-serif;
  margin: 5px;
}

.App h1 {
  flex-flow: row;
  align-self: flex-start;
  padding-left: 15px;
}

html {
  background-color: #EFC1A9;
}

