.App {
  background: #07393C; 
  color: #FC9E4F;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  font-family: "Noto Sans SC", sans-serif;
}

.App h1 {
  flex-flow: row;
  align-self: flex-start;
  padding-left: 15px;
}

html {
  background-color: #07393C;
}

.app-body {
  margin-left: 160px;
}
